.paymentButton {
  height: 50px;
  width: 355px;

  background-color: hsl(245, 75%, 52%);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 25px 30px  hsl(225, 100%, 94%);
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.paymentButton:hover {
  background-color: hsl(245, 83%, 40%);
  box-shadow: 0px 25px 30px  hsl(227, 71%, 89%);
  transition: background-color 0.5s ease;
}

